form{
  text-align: center;
  color: white;
}
/* single-line text, checkbox, and button */
input, select, textarea{
display:block;
width:100%;
padding:.3em;
font-size:20px;
background-color:#fbfbfb;
border:solid 1px #CCC;
resize:vertical;
}
textarea{
min-height:180px;
}
select{
color:#520cd3;
}
option{
color:blue;
background: lavenderBlush;
}
input[type=checkbox]{
display:inline;
width:auto;
color:red;
}

input[type=submit]{
background:#520cd3;
margin:1em 0 0;
color:white;
border:none;
border-radius:8px;
transition:all .3s ease-out;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover{
background: lavenderBlush;
}

/* hover and focus states */
input[type=submit]:hover,
input[type=submit]:focus{
background: lightgreen;
outline:none;
}

@media screen and (min-width:600px) {
/*  make the form 2 columns */
form:after{
  content:'';
  display:block;
  clear:both;
}
.column{
  width:50%;
  padding:1em;
  float:left;
}
}








